<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="绩效考评系统.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="绩效考评系统.Properties.Settings.MyPersonnelConnectionString"
            connectionString="Data Source=USER-20161216FD;Initial Catalog=MyPersonnel;User ID=sa;Password=abcd-1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <绩效考评系统.Properties.Settings>
            <setting name="绩效考评系统ConnectionString" serializeAs="String">
                <value>Data Source=.;Initial Catalog=MyPersonnel;Persist Security Info=True;User ID=sa;Password=abcd-1234</value>
            </setting>
        </绩效考评系统.Properties.Settings>
    </userSettings>
</configuration>